@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Atkinson Hyperlegible', sans-serif;
  --font-serif: 'Judson', serif;
  --font-mono: 'Input Mono', monospace;

  --color-gray-50: oklch(96.19% 0.001 17.18);
  --color-gray-100: oklch(93.15% 0.002 67.8);
  --color-gray-200: oklch(85.32% 0.004 56.36);
  --color-gray-300: oklch(78.18% 0.006 59.63);
  --color-gray-400: oklch(69.99% 0.009 56.25);
  --color-gray-500: oklch(62.47% 0.011 58.11);
  --color-gray-600: oklch(53.99% 0.011 51.97);
  --color-gray-700: oklch(43.87% 0.008 53.29);
  --color-gray-800: oklch(34.02% 0.007 48.52);
  --color-gray-900: oklch(22.72% 0.002 67.7);
  --color-gray-950: oklch(15.86% 0.002 106.63);

  --color-purple-50: oklch(94.49% 0.03 359.5);
  --color-purple-100: oklch(90.35% 0.054 0.8);
  --color-purple-200: oklch(80.4% 0.118 4.06);
  --color-purple-300: oklch(72.72% 0.176 6.86);
  --color-purple-400: oklch(66.97% 0.224 11.56);
  --color-purple-500: oklch(63.64% 0.251 18.6);
  --color-purple-600: oklch(57.33% 0.23 20.59);
  --color-purple-700: oklch(47.3% 0.19 19.9);
  --color-purple-800: oklch(38% 0.152 18.62);
  --color-purple-900: oklch(24.12% 0.096 13.97);
  --color-purple-950: oklch(15.37% 0.062 5.97);
}

:root {
  --application-header-height: 6rem;
}
